[submodule "third_party/cmark"]
	path = third_party/cmark
	url = https://github.com/vnotex/cmark.git
[submodule "third_party/libgit2"]
	path = third_party/libgit2
	url = https://github.com/libgit2/libgit2.git
